.DS_Store
*.swp
*.swo
*.orig
.idea
ext/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Testing
coverage
tmp
/cypress

# Users Environment Variables
.lock-wscript
