sudo: false
language: node_js
node_js:
  - "stable"
matrix:
  include:
    - env: UNDERSCORE=1.8 BACKBONE=1.2.3
    - env: LODASH=3.0 BACKBONE=1.2.3
    - env: LODASH=3.1 BACKBONE=1.2.1
env: MAINRUN=true
before_install:
  - npm config set ca ""
install:
  - curl -L https://rawgit.com/marionettejs/travis-ci-setup/master/ci.sh | bash
after_success:
  - if [[ $MAINRUN == true ]]; then npm run-script coveralls; fi
