sudo: false
language: node_js
node_js:
  - "0.12"
env:
  global: MAINRUN=true
  matrix:
    - UNDERSCORE=1.4.4 BACKBONE=1.0
    - UNDERSCORE=1.5 BACKBONE=1.0
    - UNDERSCORE=1.7 BACKBONE=1.1
    - UNDERSCORE=1.7 BACKBONE=1.0
    - UNDERSCORE=1.6 BACKBONE=1.0
    - UNDERSCORE=1.4.4 BACKBONE=1.1.0
    - UNDERSCORE=1.5 BACKBONE=1.1
    - UNDERSCORE=1.7 BACKBONE=1.2
    - UNDERSCORE=1.8 BACKBONE=1.2
    - LODASH=2.4 BACKBONE=1.1
    - LODASH=3.0 BACKBONE=1.1
    - LODASH=3.1 BACKBONE=1.0
before_install:
  - npm config set ca ""
install:
  - curl -L https://rawgit.com/marionettejs/travis-ci-setup/master/ci.sh | bash
after_success:
  - if [[ $MAINRUN == true ]]; then npm run-script coverage; fi
