sudo: false
language: node_js
node_js:
  - "4"
matrix:
  include:
    - env: UNDERSCORE=1.8 BACKBONE=1.3.3
    - env: LODASH=3.0 BACKBONE=1.3.3
    - env: LODASH=3.1 BACKBONE=1.3.3
env: MAINRUN=true
before_install:
  - npm config set ca ""
install:
  - curl -L https://rawgit.com/marionettejs/travis-ci-setup/master/ci.sh | bash
after_success:
  - if [[ $MAINRUN == true ]]; then npm run-script coveralls; fi
before_deploy:
  - npm install travis-ci
deploy:
  provider: releases
  api_key: $GH_TOKEN
  on:
    tags: true
after_deploy:
  - node trigger-deploy-mn-com.js
